$paleta_colores:(
    primario: $primary,
    secundario: $secundary,
    terciario: $terciary,
    Backgraunds-pst: $backgourunds-pst,
);

$paleta_de_colores_pagina: (
    fondo1: $fondo1,
    fondo2: $fondo2,
    fondo3: $fondo3,
);
