.grid--index{
    @include contenedor_grid_pages (3fr 1fr, auto auto auto, "encabezado encabezado" "cuerpo cuerpo" "pie pie");
}

.header {
    grid-area: encabezado;
    border-style:groove;
    background-color: map-get($paleta_de_colores_pagina, fondo1);
    background-image:url(../assets/img/banner-para-header.jpg);
}

.main {
    grid-area: cuerpo;
    border-style: double;
    border-color: map-get($paleta_de_colores_pagina, fondo1);
    background-color: map-get($paleta_de_colores_pagina, fondo2);
}

.footer {
    grid-area: pie;
    border-style: double;
    background-color: map-get($paleta_de_colores_pagina, fondo3);
}

.grid--exp--laboral{
    @include contenedor_grid_pages (3fr, auto auto auto, "encabezado1" "cuerpo1" "pie1");
}

.header--exp_laboral {
    @extend .header;
    grid-area: encabezado1;
}

.main--exp_laboral {
    @extend .main;
    grid-area: cuerpo1;
    border-color: black
}

.footer--exp_laboral {
    @extend .footer;
    grid-area: pie1;
}