.grid--index{
    @include contenedor_grid_pages (3fr 1fr, auto auto auto, "encabezado encabezado" "cuerpo cuerpo" "pie pie");
}

.header {
    grid-area: encabezado;
    border-style:groove;
    background-color: map-get($paleta_de_colores_pagina, fondo1);
    background-image:url(../assets/img/banner-para-header.jpg);
}

.main {
    grid-area: cuerpo;
    border-style: double;
    border-color: map-get($paleta_de_colores_pagina, fondo1);
    background-color: map-get($paleta_de_colores_pagina, fondo2);
}

.footer {
    grid-area: pie;
    border-style: double;
    background-color: map-get($paleta_de_colores_pagina, fondo3);
}