.logo {
    width: 100px;
    border-radius: 50%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        list-style: none;
        list-style-type: none;

        li {
            display: flex;
            text-decoration: none;
            border-style:outset;
            border-radius: 5px;
            padding: 4px;
            margin: 5px;
            background-color: map-get($paleta_colores, terciario);
            a {
                text-decoration: none;
                color: black;
            }
        
        }
    
    }

}

.div {
    display: flex;
    justify-content: center;
    h2{
        display: flex;
        border-style: double;
        border-color: map-get($paleta_colores, primario);
        font-size: 25px;
        color: map-get($paleta_colores, backgraunds-pst);
    }
}

.facebook {
    border-radius: 50%;
    background-color: map-get($paleta_colores,backgraunds-pst);
    color: map-get($paleta_colores, secundario);
}

.whatsapp {
    border-radius: 25%;
    background-color: map-get($paleta_colores, primario);
    color: map-get($paleta_colores, backgraunds-pst);
}

.linkedin {
    border-radius: 50%;
    background-color: map-get($paleta_colores, backgraunds-pst);
    color: map-get($paleta_colores, terciario);
}